<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
<!-- 使用logback-spring.xml替代logback.xml，继承spring日志的默认设置 -->
    <evaluator name="CALLER_DISPLAY_EVAL" class="ch.qos.logback.classic.boolex.JaninoEventEvaluator">
        <expression>return logger.contains("ufast");</expression>
    </evaluator>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"
                    defaultValue="spring-app"/>
    <springProperty scope="context" name="PORT" source="server.port"
                    defaultValue="port"/>
    <conversionRule conversionWord="IP" converterClass="yb.ecp.fast.infra.infra.log.IPLogConfig"/>
<!-- 自定义的callerConverter继承CallerDataConverter, 将caller输出的最后一个换行符替换掉 -->
    <conversionRule conversionWord="fastCaller"
                    converterClass="yb.ecp.fast.infra.infra.log.FastCallerDataConverter"/>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%property{APP_NAME}|%IP:%property{PORT}|%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint}|%clr([%X{X-B3-TraceId:-},%X{X-B3-ParentSpanId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}])|%clr(%-5level)|%thread|%clr(%class-%method-%line)|%fastCaller{1..2,CALLER_DISPLAY_EVAL}|%msg|%n"/>
    <property name="FILE_LOG_PATTERN"
              value="%property{APP_NAME}|%IP:%property{PORT}|%d{yyyy-MM-dd HH:mm:ss.SSS}|[%X{X-B3-TraceId:-},%X{X-B3-ParentSpanId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}]|%level|%thread|%class-%method-%line|%fastCaller{1..2,CALLER_DISPLAY_EVAL}|%msg|%n"/>

    <!--继承spring的默认logback设置-->
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>